html {
  background-color: #eee;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: .9em;
}
label {
  background-color: #bfbfbf;
}
:focus { outline: none; }
.tile {
  display: inline-block;
  position: absolute;
  opacity: .6;
}

.controls {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 190px 518px 100px 250px;
  grid-gap: 4px;
  grid-auto-rows: auto;
  bottom: 0px;
  color: #333;
  margin-bottom: 5px;
  transition: bottom .4s ease 0s;
  user-select: none;
}
.controls.closed {
  bottom: -180px;
}
.controls > div {
  display: flex;
  flex-flow: column;
  padding: 2px;
  background-color: #5c5c5c;
  border-radius: 3px;
}

.controlHeader {
  padding: 2px 5px;
  border-radius: 1px;
  margin-bottom: 2px;
  background-color: #e6e4d0;
}
#modeTabs { display: flex; flex-flow: row; }
#modeTabs div {
  background-color: #aaa;
  cursor: pointer;
  margin-right: 2px;
  text-align: center;
  flex: 1 1 auto;
  transition: background-color .1s ease 0s;
}
#modeTabs div:last-child { margin-right: 0; }
#modeTabs div:hover {
  background-color: #bababa;
  color: #000;
}
#mode[value="spin"] #modeTabs div:nth-child(1),
#mode[value="pattern"] #modeTabs div:nth-child(2),
#mode[value="orbit"] #modeTabs div:nth-child(3) {
  background-color: #e6e4d0;
}


.controlPanel {
  background-color: #999;
  border-radius: 1px;
  padding: 5px;
  flex: 1 1 auto;
  font-size: .9em;
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: auto;
}
#playback .controlPanel { grid-template-columns: repeat(4, 1fr); }
#playing { grid-column: 1 / 3 }
#rewind { grid-column: 3 / 5 }
#playback .slider { grid-column: 1 / 5; }
#playback .slider label { flex-basis: 93px; }
#playback .slider label div { width: 45px; }
.positionControl { grid-column: 1 / 4; }
#playback .button { padding-bottom: 3px; }

#modes .controlPanel { grid-template-columns: repeat(8, 1fr); }
#modes .slider.left { grid-column: 1 / 5; }
#modes .slider.right { grid-column: 5 / 9; }
#modes .slider.right.spinMode { grid-column: 5 / 8; }
#modes .slider.right.spinMode label div { width: 42px; }

#color .controlPanel { grid-template-columns: 1fr 50px 1fr 50px; }
#color .slider.right { grid-column: 3 / 5; }
#color .slider.left { grid-column: 1 / 3; }
#color .slider label { flex-basis: 90px; }
#color .slider label div { width: 20px; }
#bgColor { width: 100% }
#colorPresets { grid-column: 2 / 5; }
#colorPresets div { width: 19px; }

#presets .controlPanel { grid-template-columns: 1fr 1fr; }

/* control display of mode-specific ui elements */
.spinMode,
.patternMode,
.orbitMode {
  display: none;
}
#mode[value="spin"] .spinMode,
#mode[value="pattern"] .patternMode,
#mode[value="orbit"] .orbitMode {
  display: initial;
}

#mode[value="spin"] .spinMode.slider,
#mode[value="spin"] .spinMode.input,
#mode[value="pattern"] .patternMode.slider,
#mode[value="pattern"] .patternMode.input,
#mode[value="orbit"] .orbitMode.slider,
#mode[value="orbit"] .orbitMode.input {
  display: flex;
}
