html {
  background-color: #eee;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: .9em;
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}
.tile {
  display: inline-block;
  position: absolute;
  opacity: .6;
}

#controls {
  position: fixed;
  bottom: 0px;
  left: 50px;
  right: 50px;
  border: 3px solid #555;
  border-bottom: 0px;
  background-color: #717171;
  color: #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px;
  transition: bottom .4s ease 0s;
}
#controls.closed {
  bottom: -97px;
}

#mode { margin-bottom: 5px; }
#mode div {
  display: inline-block;
  cursor: pointer;
  background-color: #b1b4b7;
  padding: 1px 35px;
  margin-right: 3px;
  border-radius: 1px;
}
#mode.spin div:nth-child(1),
#mode.pattern div:nth-child(2),
#mode.orbit div:nth-child(3) {
  background-color: #bee0f1;
}

#modeControls {
  display: inline-block;
  background-color: #a5a5a5;
  border-radius: 1px;
  padding: 5px;
  height: 50px;
  width: 70%;
}

#modeControls div {
  display: none;
}
#mode.spin + #modeControls div:nth-child(1),
#mode.pattern + #modeControls div:nth-child(2),
#mode.orbit + #modeControls div:nth-child(3) {
  display: block;
}
