html {
  background-color: #eee;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}
.tile {
  display: inline-block;
  position: absolute;
  opacity: .6;
}

#controls {
  position: fixed;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border: 2px solid #5a5a5a;
  border-bottom: 0px;
  background-color: #878787;
  color: #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  transition: bottom .4s ease 0s;
}
#controls.closed {
  bottom: -40px;
}
