html {
  background-color: #eee;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}
.tile {
  display: inline-block;
  position: absolute;
  opacity: .6;
}

.controls {
  position: fixed;
  bottom: 10px;
  left: 30px;
}
